
$primary: rgba(96, 58, 38, 1);
$secondary: rgba(248, 214, 170, 1);
$danger: rgba(242, 105, 105, 1);
$warning: rgba(255, 239, 152, 1);
$info: rgba(97, 175, 232, 1);
$success: rgba(97, 197, 149, 1);
$yiq-text-dark: rgba(66, 66, 66, 1);