/* FONTS */

h1 {
    font-family: 'Poppins', sans-serif;
    size: 48px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    size: 36px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    size: 24px;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    size: 20px;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    size: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.body-16 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.body-12 {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

.facts {
    font-size: 80px;
    color: rgba(142, 119, 103, 1);
    font-weight: bold;
}
.text-1000 {
    color: rgba(66, 66, 66, 1);
}

.text-800 {
    color: rgba(100, 100, 100, 1);
}

.lineUp {
    animation: 3s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


#spin:after {
    content: "";
    animation: spin 5s ease infinite 0s;
}

@keyframes spin {
    0% {
        content: "rohkem kui lihtsalt";
    }

    100% {
        content: "jääkmaterjale väärindav";
    }
}

/* BACKGROUNDS */
.hero-bg-lumman-final {
    background: url(../img/hero-bg-lumman.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.hero-bg-lumman-wave {
    background: url(../img/laine-1.svg) no-repeat bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
}



.wave-2 {
    background: url(../img/laine-2.svg) no-repeat top;
    background-size: contain;
    padding-top: 0%;
}

.top-wave-2 {
    background: url(../img/laine-2.svg) no-repeat top;
    background-size: 100%;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}

.bg-kodu-ja-elustiil {
    background: url(../img/bg-kodu-ja-elustiil.png) no-repeat;
    background-size: cover;

    padding-bottom: 8rem;
    padding-top: 8rem;
}

.bg-kodu-ja-elustiil:hover .overlay {
    opacity: 1;
}

.bg-lapsed-ja-mang {
    background: url(../img/bg-lapsed-ja-mang.png) no-repeat;
    background-size: cover;

    padding-bottom: 8rem;
    padding-top: 8rem;
}

.bg-lapsed-ja-mang:hover .overlay {
    opacity: 1;
}

.overlay {
    background: rgba(96, 58, 38, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}


.bg-tekstiilitoostuse-moju {
   
    background: url(../img/bg-tekstiilitoostuse-moju.png) no-repeat;
    background-size: cover;

   
}

.top-wave-3 {
    background: url(../img/laine-1.svg) no-repeat bottom;
    background-size: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}

.wave-3 {
    background: url(../img/laine-3.svg) no-repeat bottom;
    background-size: contain;
}

.bottom-wave-3 {
    background: url(../img/laine-3.svg) no-repeat bottom;
    background-size: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}


.bg-alamlehe-header {
    background: url(../img/jazmin-quaynor-8ioenvmof-I-unsplash\ 1.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    
    }



.wave-header {
    background: url(../img/laine-header.svg) no-repeat bottom;
    background-size: contain;
}


.navbar {
    background-color: transparent;
    transition: background-color 1s;
}

.navbar.stick {
    background-color: rgba(142, 119, 103, 1);
    backdrop-filter: blur(16px);
}

.navbar-pages {
    backdrop-filter: blur(16px);
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand {
    padding-left: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;

}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;

}

    .nav-item-navbar {
        /* Set up the hover */
/* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
background-size: 0 1px, auto;
background-repeat: no-repeat;
background-position: center bottom;
transition: all .2s ease-out;
}

.nav-item-navbar:hover {
/* The following line makes the underline only as wide as the text */
/* background-size: calc(100% - 2em) 5px, auto; */
background-size: calc(100% - 4rem) 1px, auto;
}
    

.btn-light {
    justify-content: center;
    padding: 16px 32px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(40px);
    border-radius: 60px;
    border: 0ch;
    color: #FFFFFF
}

.btn-dark{
    justify-content: center;
    padding: 16px 32px;
    background-color: #C4BBAF;
    backdrop-filter: blur(40px);
    border-radius: 60px;
    border: 0ch;
    
}


.btn-dark:hover {
background-color: rgb(208, 201, 191)
;
  }

.yellow {
    color: #F8D6AA;
}

.bg-footer {
    background-color: #A49688;
}

.bg-footer-absolute {
    background-color: white;
    color: #795A4A;
}

.empty-space {
    height: 200px;
}


ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.category-item {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: rgba(66, 66, 66, 1);
    padding-left: 0px;
    padding-right: 0px;
    background-image: linear-gradient(rgb(164, 150, 136), rgb(164, 150, 136));
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;

}

.category-item:hover {
background-size: 100% 1px, auto;

}


.category-divider {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: rgba(66, 66, 66, 1);
    padding-left: 20px;
    padding-right: 20px;

}



.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.main-nav li a:before {
    right: 50%;
    bottom: 3px;
    left: 50%;
    height: 2px;
    background: #4cc0b5;
    transition: .25s;
}

/* unvisited link */
a:link {
    color: rgba(66, 66, 66, 1);
    text-decoration: none;
  }
  
 
  
  /* mouse over link */
  a:hover {
    color: rgba(164, 150, 136, 1);
    font-weight: 400
    ;
  }
  
  /* selected link */
  a:active {
    color: rgba(164, 150, 136, 1);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: none;
    
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  
  .card-title {
    margin-bottom: 0.375rem;
  }

  .card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);

  }

  .badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }
  .badge:empty {
    display: none;
  }

  .cart {
      padding: 10px;
  }


  @media (min-width : 992px) {
    .offcanvas {
        visibility: visible;
        position: relative;
        background: none;
        border: none;
        justify-content: end;
        color: red;
    }
}

@media (max-width : 992px) {
    .offcanvas {
        width: 250px !important;
    }

    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transform: translateX(-100%);
    }
}

.navbar-nav li a {
    color: white;
}

.menu-icon {
    border: none;
}

.mobile-nav {
    background-color: rgba(142, 119, 103, 1);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    flex-direction: column;
    max-width: 100%;

    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

@media (max-width: 990px) {
    .offcanvas-body {

        flex-grow: 1;
        padding: 1rem 1rem;
        overflow-y: visible;
        background-color: inherit;
        min-height: 100vh;

    }

    
}

@media (min-width: 991px) {
    .mobile-nav-item {
     display: none;

    }

    
}

.mobile-nav-item {
    padding-left:12px;
}

#category{
    position: relative;

    color: white;
  }

.image-button {
    height: 80px;
    padding-bottom: 12px;
}
