/* FONTS */

h1 {
    font-family: 'Poppins', sans-serif;
    size: 48px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    size: 36px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    size: 24px;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    size: 20px;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    size: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.body-16 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.body-12 {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

.facts {
    font-size: 80px;
    color: rgba(142, 119, 103, 1);
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
}

.text-1000 {
    color: rgba(66, 66, 66, 1);
}

.text-800 {
    color: rgba(100, 100, 100, 1);
}

.lineUp {
    animation: 3s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


#spin:after {
    content: "";
    animation: spin 5s ease infinite 0s;
}

@keyframes spin {
    0% {
        content: "rohkem kui lihtsalt";
    }

    100% {
        content: "jääkmaterjale väärindav";
    }
}

/* BACKGROUNDS */
.hero-bg-lumman-final {
    background: url(../img/hero-bg-lumman.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.hero-bg-lumman-wave {
    background: url(../img/laine-1.svg) no-repeat bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
}



.wave-2 {
    background: url(../img/laine-2.svg) no-repeat top;
    background-size: contain;
    padding-top: 0%;
}

.top-wave-2 {
    background: url(../img/laine-2.svg) no-repeat top;
    background-size: 100%;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}

.bg-kodu-ja-elustiil {
    background: url(../img/bg-kodu-ja-elustiil.png) no-repeat;
    background-size: cover;

    padding-bottom: 10rem;
    padding-top: 10rem;
}

.bg-kodu-ja-elustiil:hover .overlay {
    opacity: 1;
}

.bg-lapsed-ja-mang {
    background: url(../img/bg-lapsed-ja-mang.png) no-repeat;
    background-size: cover;

    padding-bottom: 10rem;
    padding-top: 10rem;
    overflow: hidden;

    display: inline-block;

}

.bg-lapsed-ja-mang:hover .overlay {
    opacity: 1;

}



.overlay {
    background: rgba(96, 58, 38, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}




.bg-tekstiilitoostuse-moju {

    background: url(../img/bg-tekstiilitoostuse-moju.png) no-repeat;
    background-size: cover;


}



.top-wave-3 {
    background: url(../img/laine-1.svg) no-repeat bottom;
    background-size: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}

.wave-3 {
    background: url(../img/laine-3.svg) no-repeat bottom;
    background-size: contain;
}

.bottom-wave-3 {
    background: url(../img/laine-3.svg) no-repeat bottom;
    background-size: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}

.top-wave-4 {
    background: url(../img/laine-1.svg) no-repeat bottom;
    background-size: 100%;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}




.bg-alamlehe-header {
    background: url(../img/jazmin-quaynor-8ioenvmof-I-unsplash\ 1.jpg) no-repeat;
    height: 200px;
    background-size: cover;

}



.wave-header {
    background: url(../img/laine-header.svg) no-repeat bottom;
    background-size: contain;
}


.navbar {
    background-color: transparent;
    transition: background-color 1s;
}

.navbar.stick {
    background-color: rgba(142, 119, 103, 1);
    backdrop-filter: blur(16px);
}

.navbar-pages {
    backdrop-filter: blur(16px);
    transition: background-color 1s;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand {
    padding-left: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;

}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;

}

.nav-item-navbar {
    /* Set up the hover */
    /* If you aren't using autoprefix, remember to prefix the gradient for other browsers */
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.nav-item-navbar:hover {
    /* The following line makes the underline only as wide as the text */
    /* background-size: calc(100% - 2em) 5px, auto; */
    background-size: calc(100% - 4rem) 1px, auto;
}

.nav-item-navbar-active {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: calc(100% - 4rem) 1px, auto;  
}

.nav-item-footer {
    color: white;

}

.nav-item-footer:hover {
    color:rgb(208, 201, 191);

}

.btn-light {
    justify-content: center;
    padding: 16px 32px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(40px);
    border-radius: 60px;
    border: 0ch;
    color: #FFFFFF
}

.btn-dark {
    justify-content: center;
    padding: 8px 16px;
    background-color: #C4BBAF;
    backdrop-filter: blur(40px);
    border-radius: 60px;
    border: 0ch;

}



.btn-dark:hover {
    background-color: rgb(208, 201, 191);
}

.btn-dark:active {
    background-color: rgb(208, 201, 191);
}

.btn-dark:focus {
    background-color: rgb(208, 201, 191);
}

.yellow {
    color: #F8D6AA;
}

.bg-footer {
    background-color: #A49688;
}

.bg-footer-absolute {
    background-color: white;
    color: #795A4A;
}

.empty-space {
    height: 200px;
}


ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.category-item {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: rgba(66, 66, 66, 1);
    padding-left: 0px;
    padding-right: 0px;
    background-image: linear-gradient(rgb(164, 150, 136), rgb(164, 150, 136));
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;

}

.category-item:hover {
    background-size: 100% 1px, auto;

}

.category-item-active {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: rgb(164, 150, 136);
    padding-left: 0px;
    padding-right: 0px;
    background-image: linear-gradient(rgb(164, 150, 136), rgb(164, 150, 136));
    background-size: 100% 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;

}


.category-divider {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: rgba(66, 66, 66, 1);
    padding-left: 20px;
    padding-right: 20px;

}



.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.main-nav li a:before {
    right: 50%;
    bottom: 3px;
    left: 50%;
    height: 2px;
    background: #4cc0b5;
    transition: .25s;
}

/* unvisited link */
a:link {
    color: rgba(66, 66, 66, 1);
    text-decoration: none;
}



/* mouse over link */
a:hover {
    color: rgba(164, 150, 136, 1);
    font-weight: 400;
}

/* selected link */
a:active {
    color: rgba(164, 150, 136, 1);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: none;

}

.card-similar {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: none;
    margin: 0;

}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
    margin-bottom: 0rem;
    color: rgba(66, 66, 66, 1)
}

.card-footer {
    padding-top: 0rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.shop-img {
    border-radius: 2px;
    width: auto;
    height: 100%;
    overflow: hidden;
    margin: 0;
    object-fit: cover;
}


.shop-img img {
    width: 100%;
    transition: 0.4s all ease-in-out;
}

.shop-img:hover img {
    transform: scale(1.1);
}

.shop-img-similar {
    border-radius: 2px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
}

.blog-img {
        border-radius: 2px;
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin: 0 auto;
        object-fit: cover;
    
}


.shop-img-similar img {
    width: 100%;
    transition: 0.4s all ease-in-out;
}

.shop-img-similar:hover img {
    transform: scale(1.1);
}

.ig-img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    overflow: hidden;
    margin: 0;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-direction: column;
   
    
}



.ig-img img {
    width: 100%;
    transition: 0.4s all ease-in-out;
}

.ig-img:hover img {
    transform: scale(1.1);
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge:empty {
    display: none;
}

.cart {
    padding: 10px;
}



.navbar-nav li a {
    color: white;
}

.menu-icon {
    border: none;
}

.mobile-nav {
    background-color: rgba(142, 119, 103, 1);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    flex-direction: column;
    max-width: 100%;

    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}


.mobile-nav-item {
    padding-left: 12px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

#category {
    position: relative;

    color: white;
}

.image-button {
    height: 80px;
    padding-bottom: 12px;
}

.lightSlider {
height: 508px;
}



/* -- quantity box -- */

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: none;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

.product-gallery {
    width: 100%;
    width: 140px;
    margin-right: 40px
}

#changeText {
    opacity: 1;
    transition: opacity 1.5s;
}

.hide {
    opacity: 0 !important;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


.page-title {
    color: rgba(66, 66, 66, 1);
}


.dropdown-toggle:hover {
        background-size: 0 1px, auto;
      
    }
    

 .dropdown:hover .dropdown-menu{
    display: block;
    background-color: transparent;
    border:none;
    border-radius: 0%;
}
.dropdown-menu{
    margin-top: 0;
    
}  
  
.dropdown {
    padding-left: 30px;
    padding-right: 30px;
}

.blog-divider {
    color: rgb(164, 150, 136);
    box-sizing: border-box;
    
}


  
  
  

/* -- media queries -- */

@media (min-width : 991.98px) {
    .offcanvas {
        visibility: visible;
        position: relative;
        background: none;
        border: none;
        justify-content: end;
        color: red;
    }

    .mobile-nav-item {
        display: none;

    }

    .two-columns {
        column-count: 2;
        column-rule-style: solid;
        column-rule: 1px solid rgb(164, 150, 136);
        column-gap: 40px
    }

    .nav-link {
        padding-top: 0rem;
        padding-bottom:0rem;
    }

    .dropdown:hover .dropdown-menu{
        display: block;
        background-color: rgb(164, 150, 136);
        border:none;
    }
    .dropdown-menu{
        margin-top: 0;
        
    }
}

@media (max-width : 991.98px) {
    .offcanvas {
        width: 250px !important;
    }

    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transform: translateX(-100%);
    }

    .offcanvas-body {

        flex-grow: 1;
        padding: 1rem 1rem;
        overflow-y: visible;
        background-color: inherit;
        min-height: 100vh;
    }

    .nav-link {
        padding-top: 1rem;
        padding-bottom:1rem;
    }

    .nav-item-navbar:hover {
        background-size:0%;
    }

    .nav-item-navbar-active {
        background-size:0%;
    }

    
    }


   

  
    

 @media (max-width : 767.98px) {
    .main-title {
        font-size: 32px;
    }
 }





 .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 1rem;
    
    border: none;
  }

  .card-text {
      font-size: 16px;
      padding-bottom: 0.5rem;
      margin-top: 1rem;
      color: rgba(100, 100, 100, 1);
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #C4BBAF;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-next-icon {
      background-image: url(../img/mdi-light_chevron-right.svg);
      margin-left: 3px;
  }

  .carousel-control-prev-icon {
    background-image: url(../img/mdi-light_chevron-left.svg);
    margin-right: 3px;
}
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13rem;
      border-radius: 2px;
      overflow: hidden;
  }

  .card .img-wrapper img {
    width: 100%;
    transition: 0.4s all ease-in-out;
}

.card .img-wrapper:hover img {
    transform: scale(1.1);
}

  
  .card img {
      max-height: 100%;
      border-radius: 2px;
      object-fit: cover;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }